array:3 [▼
  "status" => true
  "message" => "Verification successful"
  "data" => array:24 [▼
    "id" => 154239329
    "domain" => "test"
    "status" => "success"
    "reference" => "j68nhQ03tZdRGOie6r8kol5oB"
    "amount" => 34700000
    "message" => null
    "gateway_response" => "Successful"
    "paid_at" => "2019-04-19T23:03:51.000Z"
    "created_at" => "2019-04-19T23:03:36.000Z"
    "channel" => "card"
    "currency" => "NGN"
    "ip_address" => "197.210.52.102"
    "metadata" => array:1 [▼
      "key_name" => "value"
    ]
    "log" => array:8 [▶]
    "fees" => 1363300
    "fees_split" => null
    "authorization" => array:12 [▼
      "authorization_code" => "AUTH_jgc3g1s7eq"
      "bin" => "412345"
      "last4" => "1381"
      "exp_month" => "04"
      "exp_year" => "2020"
      "channel" => "card"
      "card_type" => "visa DEBIT"
      "bank" => ""
      "country_code" => "TR"
      "brand" => "visa"
      "reusable" => true
      "signature" => "SIG_gbgHWvXccPBTbJ1SpdRY"
    ]
    "customer" => array:8 [▼
      "id" => 7993951
      "first_name" => null
      "last_name" => null
      "email" => "otemuyiwa@gmail.com"
      "customer_code" => "CUS_7fsjnmdol1lqqog"
      "phone" => null
      "metadata" => null
      "risk_action" => "default"
    ]
    "plan" => null
    "paidAt" => "2019-04-19T23:03:51.000Z"
    "createdAt" => "2019-04-19T23:03:36.000Z"
    "transaction_date" => "2019-04-19T23:03:36.000Z"
    "plan_object" => []
    "subaccount" => []
  ]
]

There is a map function i need to copy from CheckoutController@store